h1 {
  font-weight: 200;
  font-size: 4rem;
  color: var(--white);
  line-height: 4rem;
  margin: 0 20px;
  margin-top: 50px;
  margin-bottom: -40px;
  text-align: center;
}

.container {
  display: flex;
}

.column {
  padding: 20px;
}

.left {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  background: url(../../img/bg-cross.png) repeat center center;
  background-color: var(--red);
  background-size: auto;
}

.fixed-image-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1.5;
  padding: 20px 70px;
  background: url(../../img/bg-fa.png) right center no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.fixed-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-right: -110px;
}


.right p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.item-kit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.content-item-kit img {
    width: 50%;
}

.content-item-kit h2 {
  color: var(--blue-dark);
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.float{
  border-radius: 20px;
  position: relative;
}

.float::after {
  content: "";
  position: absolute;
  background: rgb(43 42 42 / 56%);
  width: 50%;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  border-radius: 50%;
  filter: blur(8px);
}

/* Estilos para dispositivos pequeños (puedes personalizar estos valores según tus necesidades) */
@media (max-width: 768px) {

  .container {
      flex-direction: column;
  }
  .column {
      flex: 1;
      position: static;
  }

  .right {
    padding: 10px 35px;
  }

  img.responsive {
    width: 90%;
  }

  .content-item-kit img {
    width: 50%;
  }
  
  .item-kit {
    width: 100%;
    height: 70vh;
    margin: 0px 0;
  }
}