/* configuracion de inicial */
html {
  background-image: linear-gradient(90deg, var(--bg) 70%, #f1f1f1 30%);
}

body {
  background: url(../../img/bg-fa.png) center center;
  background-attachment: fixed;
  background-size: contain;
}

input[type=radio] {
  display: none;
}

h1 {
  padding: 5vh 5vh 0 5vh;
  text-align: center;
  font-size: 5vh;
}

h2 {
  font-size: 3vh;
  letter-spacing: 2px;
}

.question,
.question2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, auto);
  color: var(--gray);
  font-size: calc(1vh + 1vw);
  gap: 1vw;
  padding: 5vh;
}

.question h2,
.question2 h2 {
  grid-row: 2;
  grid-column: 1 / span 2;
  font-weight: 500;
  margin-top: 5vh;
}

.question h2:nth-of-type(2),
.question2 h2:nth-of-type(2) {
  grid-row: 5;
  grid-column: 1 / span 2;
}

.question label,
.question2 label {
  cursor: pointer;
  position: relative;
  counter-reset: section;
  font-size: 1.6rem;
  counter-increment: chapter;
  transition: .4s ease-in;
  background-color: transparent;
  flex-basis: calc(50% - 1vw);
  padding: 1vw 2vw 1vw 6vw;
  border: .2rem solid var(--black);
}

.question label:nth-of-type(5),
.question2 label:nth-of-type(5) {
  counter-reset: chapter;
}

label:nth-of-type(1) {
  grid-row: 3;
  grid-column: 1;
}

label:nth-of-type(2) {
  grid-row: 3;
  grid-column: 2;
}

label:nth-of-type(3) {
  grid-row: 4;
  grid-column: 1;
}

label:nth-of-type(4) {
  grid-row: 4;
  grid-column: 2;
}

label:nth-of-type(5) {
  grid-row: 6;
  grid-column: 1;
}

label:nth-of-type(6) {
  grid-row: 6;
  grid-column: 2;
}

label:nth-of-type(7) {
  grid-row: 7;
  grid-column: 1;
}

label:nth-of-type(8) {
  grid-row: 7;
  grid-column: 2;
}

.question label::before,
.question2 label::before {
  position: absolute;
  content: counter(chapter, upper-alpha) ".";
  left: 3vw;
}

input[type=radio]:checked+label {
  background-color: var(--red);
}

#back {
  opacity: 0;
  user-select: none;
}

/* Asfixia */

.question input[type=radio]:nth-of-type(3):checked+label {
  border: 2px solid green;
  background-color: #26ff00;
  animation: correct 2s ease infinite;
}

.question input[type=radio]:nth-of-type(6):checked+label {
  border: 2px solid green;
  background-color: #26ff00;
}

.question input[type=radio]:nth-of-type(6):checked+label~.progress span:nth-of-type(1) {
  display: flex;
}

.question input[type=radio]:nth-of-type(3):checked+label~.progress span:nth-of-type(2) {
  display: flex;
}

.question #answer3:checked~#answer6:checked+label+#back {
  user-select: auto;
  opacity: 1;
}

/* RCP */

.question2 input[type=radio]:nth-of-type(1):checked+label {
  border: 2px solid green;
  background-color: #26ff00;
  animation: correct 2s ease infinite;
}

.question2 input[type=radio]:nth-of-type(7):checked+label {
  border: 2px solid green;
  background-color: #26ff00;
}

.question2 input[type=radio]:nth-of-type(9):checked+label {
  border: 2px solid green;
  background-color: #26ff00;
}

.question2 input[type=radio]:nth-of-type(1):checked+label~.progress span:nth-of-type(1) {
  display: flex;
}

.question2 input[type=radio]:nth-of-type(7):checked+label~.progress span:nth-of-type(2) {
  display: flex;
}

.question2 #answer1:checked~#answer7:checked+label+#back {
  user-select: auto;
  opacity: 1;
}

.progress {
  position: relative;
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 2;
  width: calc(100% - 7rem);
  margin-left: 7rem;
  height: 2rem;
  border: .2rem solid #5f5f5f22;
}

.progress::before {
  content: 'Progreso:';
  font-weight: 800;
  position: relative;
  width: 4rem;
  left: -7rem;
  font-size: 1rem;
  top: 0;
  height: auto;
}

/* condicioneales de progreso */

.progress span {
  position: relative;
  max-width: 50%;
  display: none;
  width: 50%;
  height: 100%;
  background-color: #26ff00;
}

.question a,
.question2 a {
  position: fixed;
  transition: .4s ease;
  transition-delay: .4s;
  bottom: 5vh;
  left: 5vh;
  font-weight: 600;
  border-radius: .6rem;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 25vw;
  height: 8vh;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  z-index: 10;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-style: italic;
  z-index: 13;
  font-size: 2rem;
  color: #12121266;
}

@media (orientation: portrait) {
  .answer {
    justify-content: space-between;
  }
}