:root{
    --red:#ff1e00;
    --pink: #fea1a1;
    --white: #ffffff;
    --gray: #121212;
    --green: #38E54D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1{
    padding: 4vh;
    font-size: 8vh;
    text-align: center;
    color: var(--pink);
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
}

.card__i{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    padding: .5rem;
    gap: .5rem;
    box-shadow: 0rem 0rem 1.3rem .1rem var(--pink);
}

.card__i svg{
    width: 40%;
    padding: 0rem;
}

.card__i h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--pink);
}

.card__i p {
    display: none;
}

.card__i button{
    width: 100%;
    height: 5vh;
    color: var(--white);
    font-weight: 800;
    font-size: 1.25rem;
    border: unset;
    border-radius: 10px;
    background-color: var(--pink);
    cursor: pointer;
}